.advantages {
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  background-color: #ffffff;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 0;
  }
}

.advantages__slogan {
  width: 226px;
  margin: 0 auto;
  padding: 0;
  font-weight: $light-font-weight;
  font-size: $big-font-size;
  line-height: 29px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages__slogan {
    width: 620px;
    padding: 0 20px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan {
    width: 775px;
    font-size: 50px;
  }
}

.advantages__slogan--first-row {
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .advantages__slogan--first-row {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan--first-row {
    margin-top: 71px;
    margin-bottom: 5px;
  }
}

.advantages__slogan--second-row {
  margin-bottom: 32px;
  padding: 0 38px;
}

@media (min-width: $tablet-width) {
  .advantages__slogan--second-row {
    width: 365px;
    margin-bottom: 48px;
    padding: 0 40px;
    line-height: 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan--second-row {
    width: 725px;
    margin: 0 auto;
    margin-bottom: 88px;
    line-height: 60px;
  }
}

.advantages__wrapper {
  position: relative;
  width: auto;
  padding-top: 81px;
  text-align: center;
  background-color: $lightgray-background-color;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 32px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 62px;
    padding-bottom: 22px;
    padding-left: 329px;

    &::before {
      height: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 100%;
    padding: 0;

    &::before {
      height: 73px;
    }
  }
}

.advantages__list {
  @include reset-list;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    width: auto;
    margin-bottom: 19px;
    padding-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    width: 960px;
    height: 604px;
    margin-bottom: 0;
    padding: 0 12px;
  }
}

.advantages__item {
  position: static;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 330px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    position: relative;
    top: -13px;
    left: 1px;
    display: flex;
    flex-direction: column;
    width: 292px;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .advantages__item:not(:last-child) {
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:not(:last-child) {
    margin-right: 29px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:last-child .advantages__title {
    padding-top: 1px;
    padding-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:last-child .advantages__title {
    padding-top: 0;
    padding-left: 0;
  }
}

.advantages__title {
  @include reset-title;
  margin-bottom: 12px;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    order: 2;
    width: 221px;
    margin-top: 56px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    width: 321px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description {
    order: 3;
    width: 249px;
    margin: 0;
    padding: 0;
    font-size: $middle-font-size;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__description br {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:last-child .advantages__description {
    padding-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:last-child .advantages__description {
    padding-left: 0;
  }
}

.advantages__photo {
  display: none;
  margin: 0 auto;
}

.advantages__item--current {
  position: relative;
  padding-bottom: 318px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .advantages__item--current {
    padding-bottom: 0;
    overflow: visible;
  }
}

.advantages__item--current .advantages__photo {
  position: absolute;
  content: "";
  top: 107px;
  left: 63px;
  display: block;
  width: 157px;
  height: 320px;
  margin-top: 41px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--current .advantages__photo {
    position: absolute;
    top: -395px;
    left: -309px;
    width: 268px;
    height: 481px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--current .advantages__photo {
    position: static;
    width: 292px;
    height: 302px;
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__photo {
    display: block;
    order: 1;
    width: 292px;
    height: 302px;
    margin: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .advantages__item--current .advantages__photo {
    margin-top: 0;
  }
}
