.competition-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  // background-color: red;
}

@media (min-width: $desktop-width) {
  .competition-form {
    padding: 0 10px;
  }
}

.competition-form__slogan {
  line-height: 30px;
  margin-top: 50px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .competition-form__slogan {
    font-size: 18px;
    margin-top: 92px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__slogan {
    padding: 0 80px;
    margin: 0;
    margin-top: 95px;
    margin-bottom: 65px;
  }
}

.competition-form__wrapper {
  display: flex;
  flex-direction: column;
  //margin: 0 20px;
}

@media (min-width: $desktop-width) {
  .competition-form__wrapper {
    flex-direction: row;
    align-content: space-between;
  }
}

.competition-form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .competition-form__name-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__name-wrapper {
    margin-bottom: 0;
    margin-right: 72px;
    align-content: space-between;
  }
}

.competition-form__name--label {
  line-height: 30px;
  color: $crimson-color;
  text-transform: uppercase;
  user-select: none;
  margin-left: 20px;
  vertical-align: middle;
  margin-right: 15px;
}

.competition-form__name--input {
  // width: 276px;
  min-height: 59px;
  font-size: $middle-font-size;
  line-height: 30px;
  padding: 15px 0;
  padding-left: 20px;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .competition-form__name--input {
    // width: 521px;
    margin-left: auto;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__name--input {
    //  width: 336px;
  }
}

.competition-form__achievements {
  margin: 0;
  order: 3;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements {
    order: 5;
    background-color: $white-color;
  }
}

.competition-form__title {
  line-height: 18px;
  color: $crimson-color;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .competition-form__title {
    line-height: 30px;
  }
}

.competition-form__achievements-list {
  @include reset-list;
  padding-top: 20px;
  padding-bottom: 20px;
}

.competition-form__achievements-item {
  margin-bottom: 40px;
  vertical-align: center;
}

.competition-form__achievements-label {
  position: relative;
  padding-left: 65px;
  font-size: $middle-font-size;
  line-height: 30px;
  user-select: none;
}

.competition-form__achievements-label::before {
  @include input-icon;
}

.competition-form__achievements-checkbox:hover + .competition-form__achievements-label::before {
  @include input-icon-hover;
}

.competition-form__achievements-checkbox:active + .competition-form__achievements-label::before {
  @include input-icon-active;
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked + .competition-form__achievements-label::before {
  @include input-icon;
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked:hover + .competition-form__achievements-label::before {
  @include input-icon-hover;
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked:active + .competition-form__achievements-label::before {
  @include input-icon-active;
}

.competition-form__contacts {
  margin: 0 20px;
}

.competition-form__contacts-legend {
  line-height: 30px;
  color: $crimson-color;
  text-transform: uppercase;
  margin: 0 auto;
}

.competition-form__contacts-label {
  line-height: 30px;
  color: $crimson-color;
  text-transform: uppercase;
  user-select: none;
}

.competition-form__contacts-input {
  padding: 20px;
  font-size: $middle-font-size;
  line-height: 30px;
  width: 276px;
  height: 59px;
  border-style: solid;
  border-width: 2px;
  border-color: $basic-border-color;
  box-sizing: border-box;
}

.competition-form__apps {
  background-color: $lightgray-background-color;
  // padding: 20px;
  order: 5;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .competition-form__apps {
    order: 3;
    background-color: $white-color;
  }
}

.competition-form__apps-fieldset {
  border-style: none;
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .competition-form__apps-fieldset {
    border: solid 2px $basic-border-color;
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__apps-fieldset {
    width: 436px;
  }
}

.competition-form__apps-legend {
  @include reset-title;
  line-height: 18px;
  color: $crimson-color;
  text-transform: uppercase;
  margin: 0 auto;
}

.competition-form__apps-list {
  @include reset-list;
}

.competition-form__apps-item {
  margin-bottom: 35px;
}

.competition-form__apps-label {
  position: relative;
  font-size: $middle-font-size;
  line-height: 30px;
  padding-left: 65px;
  user-select: none;
}

.competition-form__apps-label::before {
  @include input-icon;
  border-radius: 35px;
}

.competition-form__apps-input:hover + .competition-form__apps-label::before {
  @include input-icon-hover;
  border-radius: 35px;
}

.competition-form__apps-input:active + .competition-form__apps-label::before {
  @include input-icon-active;
  border-radius: 35px;
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked + .competition-form__apps-label::before {
  @include input-icon;
  border-radius: 35px;
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked:hover + .competition-form__apps-label::before {
  @include input-icon-hover;
  border-radius: 35px;
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked:active + .competition-form__apps-label::before {
  @include input-icon-active;
  border-radius: 35px;
}

.competition-form__feedback {
  margin: 0;
}

.competition-form__feedback-legend {
  display: none;
}

@media (min-width: $desktop-width) {
  .competition-form__feedback-legend {
    display: block;
    line-height: 30px;
    color: $crimson-color;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

.competition-form__feedback-label {
  line-height: 30px;
  color: $crimson-color;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .competition-form__feedback-label {
    display: none;
  }
}

.competition-form__feedback-content {
  width: 276px;
  min-height: 197px;
  padding: 0;
  font-size: 18px;
  color: $basic-darker-color;
  line-height: 30px;
  background-color: transparent;
  border-style: solid;
  border-color: $basic-border-color;
  border-width: 2px;
}

.competition-form__submit {
  @include reset-button;
  width: 276px;
  height: 59px;
  border-style: solid;
  border-color: #2aab6d;
  border-width: 2px;
  background-color: #2aab6d;
  color: $white-color;
  font-size: $middle-font-size;
  line-height: 30px;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

.competition-form__note {
  line-height: 30px;
  text-transform: uppercase;
}

.competition-form__note-symbol {
  color: $crimson-color;
}
