.competition-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .competition-form {
    width: 660px;
    padding: 0 20px;
    padding-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 960px;
    padding: 0 10px;
  }
}

.competition-form__slogan {
  order: 1;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .competition-form__slogan {
    width: 520px;
    margin-bottom: 71px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__slogan {
    width: 760px;
    margin-bottom: 70px;
  }
}

.competition-form__slogan br {
  display: none;
}

@media (min-width: 961px) {
  .competition-form__slogan br {
    display: inline;
  }
}

.competition-form__slogan-hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .competition-form__slogan-hidden {
    display: inline-block;
    font-weight: 400;
  }
}

.competition-form__name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 2;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 42px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .competition-form__name-wrapper {
    width: 100%;
    margin-bottom: 58px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__name-wrapper {
    align-content: space-between;
    width: calc(50% - 35px);
    margin: 0;
    margin-top: 14px;
    margin-right: 35px;
    margin-bottom: 39px;
    padding: 0;
    box-sizing: border-box;
  }
}

.competition-form__second-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .competition-form__second-name-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__second-name-wrapper {
    margin-bottom: 52px;
  }
}

.competition-form__first-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .competition-form__first-name-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__first-name-wrapper {
    margin-bottom: 51px;
  }
}

.competition-form__patronymic-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .competition-form__patronymic-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.competition-form__name--label {
  margin-bottom: 4px;
  padding: 0 23px;
  vertical-align: middle;
  line-height: 30px;
  color: $crimson-color;
  text-transform: uppercase;
  user-select: none;
}

@media (min-width: $tablet-width) {
  .competition-form__name--label {
    margin-right: 18px;
    margin-bottom: 0;
    padding: 0;
    line-height: 63px;
  }

  .competition-form__name--label:not(:last-of-type) {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__name--label {
    margin: 0;
    margin-right: 19px;
    padding: 0;
  }
}

.competition-form__name--input {
  flex-grow: 1;
  width: 100%;
  min-height: 59px;
  padding: 15px 10px;
  padding-left: 21px;
  box-sizing: border-box;
  font-size: $middle-font-size;
  line-height: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: $basic-border-color;

  &:hover {
    border-color: $basic-darker-color;
  }

  &:active {
    outline: none;
    border-color: $crimson-color;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__name--input {
    min-height: 64px;
    margin: 0;
    padding: 14px 10px 15px 21px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__name--input {
    width: 336px;
    padding: 13px 10px 15px 20px;
  }
}

.competition-form__achievements {
  order: 3;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;
  padding-top: 38px;
  box-sizing: border-box;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements {
    order: 5;
    width: 100%;
    margin-bottom: 51px;
    padding: 0;
    background-color: $white-color;
  }
}

.competition-form__achievements-fieldset {
  width: 320px;
  margin: 0 auto;
  padding: 42px 0 48px;
  box-sizing: border-box;
  border-style: none;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements-fieldset {
    @include form-border;
    width: auto;
    margin: 0;
    padding: 48px 0 53px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__achievements-fieldset {
    padding: 42px 0 60px;
  }
}

.competition-form__title {
  width: 230px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .competition-form__title {
    width: 435px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__title {
    line-height: 30px;
  }
}

.competition-form__achievements-list {
  @include reset-list;
  padding-left: 21px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements-list {
    padding-left: 59px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__achievements-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.competition-form__achievements-item {
  box-sizing: border-box;
}

.competition-form__achievements-item:not(:last-child) {
  margin-bottom: 52px;
}

@media (min-width: $desktop-width) {
  .competition-form__achievements-item {
    width: 260px;
    margin-right: 55px;
  }

  .competition-form__achievements-item:nth-child(1) {
    order: 1;
  }

  .competition-form__achievements-item:nth-child(2) {
    order: 4;
    margin-bottom: 0;
  }

  .competition-form__achievements-item:nth-child(3) {
    order: 2;
    margin-right: 35px;
  }

  .competition-form__achievements-item:nth-child(4) {
    order: 5;
    margin-right: 35px;
    margin-bottom: 0;
  }

  .competition-form__achievements-item:nth-child(5) {
    order: 3;
    margin-right: 0;
  }

  .competition-form__achievements-item:nth-child(6) {
    order: 6;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.competition-form__achievements-label {
  position: relative;
  padding-left: 68px;
  font-size: $middle-font-size;
  line-height: 30px;
  user-select: none;
}

@media (min-width: $tablet-width) {
  .competition-form__achievements-label {
    padding-left: 58px;
  }
}

.competition-form__achievements-label::before {
  @include input-icon;
}

.competition-form__achievements-checkbox:hover + .competition-form__achievements-label::before {
  @include input-icon-hover;
}

.competition-form__achievements-checkbox:active + .competition-form__achievements-label::before {
  @include input-icon-active;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked + .competition-form__achievements-label::before {
  @include input-icon;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked:hover + .competition-form__achievements-label::before {
  @include input-icon-hover;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__achievements-checkbox:checked:active + .competition-form__achievements-label::before {
  @include input-icon-active;
  background-image: none;
}

.competition-form__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 4;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts {
    width: 100%;
    margin-bottom: 57px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__contacts {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 51px;
  }
}

.competition-form__contacts-fieldset {
  width: auto;
  box-sizing: border-box;
  border: none;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts-fieldset {
    @include form-border;
    padding: 31px 58px 26px 59px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__contacts-fieldset {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 28px 58px 12px;
  }
}

.competition-form__contacts-legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts-legend {
    display: block;
    width: 260px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $crimson-color;
  }
}

.competition-form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts-wrapper {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.competition-form__phone-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .competition-form__phone-wrapper {
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__phone-wrapper {
    margin-bottom: 0;
  }
}

.competition-form__email-wrapper {
  display: flex;
  flex-direction: column;
}

.competition-form__contacts-label {
  margin-bottom: 5px;
  padding: 0;
  padding-left: 23px;
  line-height: 30px;
  text-transform: uppercase;
  color: $crimson-color;
  user-select: none;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts-label {
    margin: 0;
    padding-left: 19px;
  }
}

.competition-form__contacts-input {
  position: static;
  width: 280px;
  height: 63px;
  padding: 0;
  padding-left: 21px;
  font-size: $middle-font-size;
  line-height: 30px;

  @include form-border;
  margin-bottom: 0;
  box-sizing: border-box;
}

.competition-form__contacts-input:not(:last-child) {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .competition-form__contacts-input {
    position: relative;
    width: 500px;
    height: 63px;
    margin-bottom: 11px;
    padding-right: 60px;
    padding-left: 18px;
  }

  .competition-form__contacts-input:not(:last-child) {
    margin-bottom: 11px;
  }

  .competition-form__contacts-input--phone {
    order: 1;
  }

  .competition-form__contacts-label--phone {
    position: relative;
    order: 2;
  }

  .competition-form__contacts-label--phone::after {
    @include contacts-icon;
    left: 438px;
    background-image: url("../img/icon-phone.svg");
  }

  .competition-form__contacts-input--email {
    order: 3;
  }

  .competition-form__contacts-label--email {
    position: relative;
    order: 4;
  }

  .competition-form__contacts-label--email::after {
    @include contacts-icon;
    left: 438px;
    background-image: url("../img/icon-mail.svg");
  }
}

@media (min-width: $desktop-width) {
  .competition-form__contacts-input {
    width: 375px;
    height: 63px;
    margin-bottom: 10px;
    padding-left: 19px;
    padding-bottom: 1px;
  }

  .competition-form__contacts-label--phone::after {
    top: -72px;
    left: 313px;
  }

  .competition-form__contacts-label--email::after {
    top: -72px;
    left: 313px;
  }
}

.competition-form__apps {
  display: flex;
  justify-content: center;
  order: 5;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 37px;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .competition-form__apps {
    order: 3;
    width: 100%;
    margin-bottom: 51px;
    padding: 0;
    box-sizing: border-box;
    background-color: $white-color;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__apps {
    display: flex;
    justify-content: center;
    width: calc(50% - 35px);
    margin: 0;
    margin-bottom: 51px;
    margin-left: 35px;
    padding: 0;
    box-sizing: border-box;
  }
}

.competition-form__apps-fieldset {
  width: 280px;
  padding: 39px 20px 48px;
  border-style: none;
}

@media (min-width: $tablet-width) {
  .competition-form__apps-fieldset {
    width: 100%;
    margin: 0;
    padding: 48px 49px 59px;
    box-sizing: border-box;
    border: solid 2px $basic-border-color;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__apps-fieldset {
    width: auto;
    margin: 0;
    padding: 0;
    padding-top: 52px;
    padding-bottom: 61px;
    padding-left: 65px;
  }
}

.competition-form__apps-legend {
  width: 200px;

  @include reset-title;
  margin: 0 auto;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .competition-form__apps-legend {
    width: 366px;
  }
}

.competition-form__apps-list {
  @include reset-list;
}

.competition-form__apps-item:not(:last-child) {
  margin-bottom: 45px;
}

@media (min-width: $desktop-width) {
  .competition-form__apps-item:not(:last-child) {
    margin-bottom: 43px;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__apps-item {
    padding-left: 10px;
  }
}

.competition-form__apps-label {
  position: relative;
  padding-left: 68px;
  font-size: $middle-font-size;
  line-height: 30px;
  user-select: none;
}

@media (min-width: $tablet-width) {
  .competition-form__apps-label {
    padding-left: 58px;
  }
}

.competition-form__apps-label::before {
  @include input-icon;
  border-radius: 35px;
}

.competition-form__apps-input:hover + .competition-form__apps-label::before {
  @include input-icon-hover;
  border-radius: 35px;
}

.competition-form__apps-input:active + .competition-form__apps-label::before {
  @include input-icon-active;
  border-radius: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked + .competition-form__apps-label::before {
  @include input-icon;
  border-radius: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked:hover + .competition-form__apps-label::before {
  @include input-icon-hover;
  border-radius: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.competition-form__apps-input:checked:active + .competition-form__apps-label::before {
  @include input-icon-active;
  border-radius: 35px;
  background-image: none;
}

.competition-form__feedback {
  display: flex;
  justify-content: center;
  order: 6;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 47px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .competition-form__feedback {
    width: 100%;
    margin-bottom: 67px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__feedback {
    margin-bottom: 65px;
  }
}

.competition-form__feedback-fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  box-sizing: border-box;
  border: none;
}

@media (min-width: $tablet-width) {
  .competition-form__feedback-fieldset {
    padding: 0 59px;
    padding-top: 31px;
    padding-bottom: 51px;

    @include form-border;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__feedback-fieldset {
    padding: 29px 59px 43px;
  }
}

.competition-form__feedback-legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .competition-form__feedback-legend {
    display: block;
    width: 261px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $crimson-color;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__feedback-legend {
    margin: 0 auto;
    line-height: 30px;
    text-transform: uppercase;
    color: $crimson-color;
  }
}

.competition-form__feedback-label {
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .competition-form__feedback-label {
    display: none;
  }
}

.competition-form__feedback-content {
  width: 100%;
  min-height: 201px;
  margin: 0;
  padding: 13px 19px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  color: $basic-darker-color;
  background-color: transparent;
  border-style: solid;
  border-color: $basic-border-color;
  border-width: 2px;
}

@media (min-width: $tablet-width) {
  .competition-form__feedback-content {
    min-height: 193px;
    padding: 14px 17px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__feedback-content {
    min-height: 127px;
    padding-top: 12px;
  }
}

.competition-form__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 7;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .competition-form__footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__footer {
    margin-bottom: 0;
  }
}

.competition-form__submit {
  width: 280px;
  height: 63px;

  @include reset-button;
  margin: 0 auto 35px;
  font-size: $middle-font-size;
  line-height: 30px;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  color: $white-color;
  background-color: $green-color;
  border-style: solid;
  border-color: $green-color;
  border-width: 2px;

  &:hover {
    background-color: $dark-green-color;
    border-color: $dark-green-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark-green-color;
    border-color: $dark-green-color;
    outline: none;
  }

  &:disabled {
    background-color: $basic-border-color;
    border-color: $basic-border-color;
  }
}

@media (min-width: $tablet-width) {
  .competition-form__submit {
    width: 300px;
    height: 63px;
    margin: 0;
  }
}

.competition-form__note {
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .competition-form__note {
    margin: 0;
  }
}

.competition-form__note-symbol {
  color: $crimson-color;
}

.competition-form__note-content-hidden {
  display: none;
}

@media (min-width: $desktop-width) {
  .competition-form__note-content-hidden {
    display: inline;
  }
}
