.contacts {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
    margin-bottom: 29px;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 960px;
    margin-bottom: 42px;
    padding: 0 10px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include reset-list;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    align-items: baseline;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 21px;
  }

  &:nth-child(2) {
    margin-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin-bottom: 0;

    &:nth-child(1) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-bottom: 0;
      margin-left: 10px;
    }

    &:last-child {
      margin-top: 46px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    width: 280px;
    margin-bottom: 22px;

    &:nth-child(1) {
      margin: 0;
      padding: 0;
    }

    &:nth-child(2) {
      order: 2;
      margin: 0;
      padding: 0;
    }

    &:last-child {
      margin: 0;
      padding: 0;
    }
  }
}

.contacts__text {
  display: block;
  margin-bottom: 1px;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    margin-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    margin-bottom: 22px;
  }
}

.contacts__item:nth-child(2) .contacts__text {
  margin-bottom: 3px;
  padding-left: 3px;
}

@media (min-width: $desktop-width) {
  .contacts__item:nth-child(2) .contacts__text {
    margin-bottom: 23px;
    padding-left: 0;
  }
}

.contacts__item:nth-child(3) .contacts__text {
  margin-bottom: 3px;
}

@media (min-width: $desktop-width) {
  .contacts__item:nth-child(3) .contacts__text {
    margin-bottom: 21px;
  }
}

.contacts__phone,
.contacts__email,
.contacts__address {
  margin: 0;
  padding: 0 11px;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 29px;
  text-align: center;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .contacts__phone,
  .contacts__email,
  .contacts__address {
    margin-top: 2px;
  }
}

.contacts__email {
  padding-left: 17px;
}

@media (min-width: $tablet-width) {
  .contacts__email {
    padding-left: 14px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__email {
    padding-left: 11px;
  }
}

.contacts__phone {
  padding-left: 12px;
}

@media (min-width: $tablet-width) {
  .contacts__phone {
    margin-top: 0;
  }
}

.contacts__address {
  padding-left: 13px;
}

@media (min-width: $desktop-width) {
  .contacts__address {
    padding-left: 8px;
  }
}
