.contacts {
  margin-bottom: 40px;
}

.contacts__list {
  @include reset-list;
}

.contacts__item {
  margin-bottom: 22px;
  // padding-left: 3px;
}

.contacts__text {
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  display: block;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  margin: 0;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  color: $crimson-color;
  margin-top: 2px;
  padding: 0 11px;
  line-height: 29px;
}
