.download {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 271px;
    left: 1px;
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}

.page-header--photo .download::after {
  content: none;
}

.page-header--form .download::after {
  content: none;
}

@media (min-width: $tablet-width) {
  .download {
    width: 660px;

    &::after {
      left: -20px;
      bottom: 0;
      width: 660px;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: 960px;

    &::after {
      top: -645px;
      left: 26px;
      width: 933px;
      height: 645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }
}

.download__wrapper {
  min-height: 215px;
  padding: 27px 0 28px;
  text-align: center;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .download__wrapper {
    content: "";
    position: absolute;
    top: -527px;
    left: 10px;
    z-index: 1;
    width: 320px;
    padding: 0;
    padding-top: 1px;
    background: transparent;
  }
}

@media (min-width: $desktop-width) {
  .download__wrapper {
    top: -643px;
    left: 10px;
    width: 300px;
    height: 500px;
  }
}

.download__title {
  display: none;
}

@media (min-width: $tablet-width) {
  .download__title {
    display: block;

    @include reset-title;
    margin: 0;
    margin-bottom: 31px;
    margin-left: 1px;
    padding: 0 40px;
    font-size: 40px;
    font-weight: $light-font-weight;
    line-height: 48px;
    color: $white-color;
  }
}

@media (min-width: $desktop-width) {
  .download__title {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 52px;
    padding: 0;
  }
}

.download__button {
  display: inline-block;
  width: 281px;
  height: 55px;

  @include reset-button;
  margin: 0;
  margin-bottom: 32px;
  padding: 14px 16px 12px;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: $white-color;
  border-radius: 55px;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {
    color: $crimson-color;
    background-color: $white-color;
  }

  &:active {
    color: $basic-down-color;
    background-color: $white-color;
  }
}

@media (min-width: $tablet-width) {
  .download__button {
    width: 300px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .download__button {
    margin-bottom: 52px;
    font-size: 21px;
  }
}

.download__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 58px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .download__link-wrapper {
    margin: 0 56px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .download__link-wrapper {
    margin: 15px 47px 55px;
  }
}

.download__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

@media (min-width: $tablet-width) {
  .download__link {
    font-size: $middle-font-size;
  }
}

.download__link:nth-child(2) {
  margin-top: 7px;
  padding-right: 1px;
}

@media (min-width: $tablet-width) {
  .download__link:nth-child(2) {
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .download__link:nth-child(2) {
    margin-top: 6px;
    padding-right: 2px;
  }
}

.download__link:nth-child(3) {
  margin-top: 9px;
}

@media (min-width: $tablet-width) {
  .download__link:nth-child(3) {
    margin-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .download__link:nth-child(3) {
    margin-right: 1px;
  }
}

.download__image {
  display: flex;
}

.download__availability {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-weight: $light-font-weight;
}

@media (min-width: $tablet-width) {
  .download__availability {
    width: 300px;
    padding: 0;
    font-size: $middle-font-size;
  }
}
