.effect {
  margin-top: -1px;
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    // margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $lightgray-background-color;
    padding-top: 12px;
    padding-bottom: 68px;
    //margin-bottom: 99px;
  }
}

.effect__wrapper {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .effect__wrapper {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .effect__wrapper {
    width: 960px;
    padding: 0 10px;
    // padding-top: 21px;
    // padding-bottom: 67px;
  }
}

.effect__icon-timer {
  position: relative;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  width: 238px;
  height: 276px;
  background-size: 100%;
  margin-right: 71px;
}

@media (min-width: $desktop-width) {
  .effect__icon-timer {
    width: 298px;
    height: 345px;
    margin-right: 67px;
  }
}

.effect__time {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 13px $crimson-color;
  border-radius: 50%;
  font-size: 96px;
  color: $crimson-color;
  font-weight: $bold-font-weight;
  width: 200px;
  height: 200px;
  top: 56px;
  padding-bottom: 10px;
  left: 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .effect__time {
    border-width: 12px;
    top: 56px;
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .effect__time {
    width: 250px;
    height: 250px;
    border-width: 15px;
    font-size: 120px;
    top: 71px;
    left: 23px;
    padding-bottom: 10px;
  }
}

.effect__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 36px;
}

@media (min-width: $tablet-width) {
  .effect__text-wrapper {
    padding-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .effect__text-wrapper {
    padding-top: 92px;
  }
}

.effect__title {
  font-size: 30px;
  font-weight: $bold-font-weight;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .effect__title {
    line-height: 36px;
    width: 168px;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .effect__title {
    width: 540px;
    // margin-top: 92px;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .effect__title br {
    display: none;
  }
}

.effect__text {
  color: $basic-darker-color;
}

@media (min-width: $tablet-width) {
  .effect__text {
    margin: 0;
    margin-bottom: 10px;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .effect__text {
    font-size: $middle-font-size;
    line-height: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    width: 526px;
  }
}

@media (min-width: $tablet-width) {
  .effect__text br:first-of-type {
    display: none;
  }

  .effect__text br:last-of-type {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .effect__text br:first-of-type {
    display: inline-block;
  }

  .effect__text br:last-of-type {
    display: none;
  }
}

.effect__link {
  color: $crimson-color;
}

@media (min-width: $desktop-width) {
  .effect__link {
    font-size: $middle-font-size;
    line-height: 30px;
  }
}
