.feedbacks {
  margin-top: -43px;
  margin-bottom: 40px;
  padding-top: 50px;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .feedbacks {
    margin: 0;
    padding: 0;
    padding-top: 87px;
    margin-bottom: 30px;
  }
}
