.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 321px;
  margin: 0 auto;
  padding: 0;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 361px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    min-height: 111px;
    line-height: 18px;
    font-weight: $basic-font-weight;
    text-transform: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

.main-nav__outer-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  box-sizing: border-box;
  border-bottom: solid 1px #000000;
}

@media (min-width: $desktop-width) {
  .main-nav__outer-wrapper {
    width: auto;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 69px;
  margin: 0 auto;
  padding: 18px 18px 21px 21px;
  box-sizing: border-box;
  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {
    width: 660px;
    height: 110px;
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-wrapper {
    width: 158px;
    padding-left: 10px;
    background-color: transparent;
    border-bottom: none;
  }
}

.main-nav__logo {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    width: 146px;
    height: 40px;
    padding-bottom: 10px;
  }
}

.main-nav__logo-mobile {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-mobile {
    display: none;
  }
}

.main-nav__logo-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-tablet {
    display: none;
  }
}

.main-nav__logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-desktop {
    display: block;
  }
}

.main-nav__button {
  display: none;
  width: 24px;
  height: 24px;

  @include reset-button;
}

.main-nav__button--open {
  width: 50px;
  height: 24px;
}

.main-nav__button--open .button-svg__open {
  display: inline-block;
}

.main-nav__button--open .button-svg__close {
  display: none;
}

.main-nav__button--close {
  width: 24px;
  height: 24px;
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__button--close {
    padding-top: 5px;
  }

  .page-header--form .main-nav__button--close {
    padding-top: 4px;
  }

  .page-header--photo .main-nav__button--close {
    padding-top: 5px;
  }
}

.main-nav__button--close .button-svg__close {
  display: inline-block;
}

.main-nav__button--close .button-svg__open {
  display: none;
}
