.main-nav {
  // width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #283645;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 32px;
  text-transform: uppercase;
  min-height: 321px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav {
    // width: 660px;
    min-height: 361px;
    // margin: 0 auto;
    // background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 960px;
    // margin: 0 auto;
    min-height: 111px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    line-height: 18px;
    font-weight: $basic-font-weight;
    text-transform: none;
  }
}

.main-nav__outer-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 1px;
  border-bottom: solid 1px #000000;
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .main-nav__outer-wrapper {
    padding-bottom: 0;
    width: auto;
    border-bottom: none;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  // width: 100%;
  margin: 0 auto;
  height: 69px;
  padding: 18px 18px 21px 21px;
  background-color: #283645;
  // border-bottom: solid 1px #000000;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {
    width: 660px;
    height: 110px;
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-wrapper {
    width: 158px;
    height: 110px;
    padding-left: 10px;
    // margin-top: -21px;
    background-color: transparent;
    border-bottom: none;
  }
}

.main-nav__logo {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    width: 146px;
    height: 40px;
    padding-bottom: 10px;
    // margin-top: 6px;
    // margin-left: 2px;
  }
}

/* @media (min-width: $desktop-width) {
  .main-nav__logo {
    padding-bottom: 20px;
    // padding-left: 9px;
  }
}*/

.main-nav__logo-mobile {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-mobile {
    display: none;
  }
}

.main-nav__logo-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-tablet {
    display: none;
  }
}

.main-nav__logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-desktop {
    display: block;
  }
}

.main-nav__button {
  @include reset-button;
  // padding-top: 8px;
  width: 24px;
  height: 24px;
  display: none;
}

/* @media (min-width: $tablet-width) {
  .main-nav__button {
    // padding-top: 30px;
    padding-top: 9px;
  }
} */

/* @media (min-width: $desktop-width) {
  .main-nav__button {
    // display: none;
  }
}*/

.main-nav__button--open {
  width: 50px;
  height: 24px;
}

.main-nav__button--open .button-svg__open {
  display: inline-block;
}

.main-nav__button--open .button-svg__close {
  display: none;
}

.main-nav__button--close {
  width: 24px;
  height: 24px;
  // padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .page-header--form .main-nav__button--close {
    padding-top: 4px;
  }
}

.main-nav__button--close .button-svg__close {
  display: inline-block;
}

.main-nav__button--close .button-svg__open {
  display: none;
}

/* @media (min-width: $tablet-width) {
  .main-nav__button--open {
    padding-top: 16px;
  }
}*/

/* .main-nav--opened .main-nav__button {
  width: 24px;
}



.main-nav__button--open {
  width: 50px;
  margin-top: 4px;
}


.main-nav__button:hover .button-svg__fill {
  fill: $crimson-color;
}

.main-nav__button:active .button-svg__fill {
  fill: rgba(210, 40, 86, 0.3);
}*/
