.page-photo {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-photo {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo {
    width: 960px;
  }
}
