.page-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
  }
}

.page-footer__title {
  @include reset-title;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 29px;
  margin: 0 auto;
  margin-bottom: 34px;
  width: 320px;
  text-align: center;
}

.page-footer__wrapper {
  width: 320px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 660px;
    // padding: 47px 20px 40px;
    padding: 29px 20px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-footer__logo {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin-bottom: 24px;
    margin-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo img {
    content: "";
    background-image: url("../../img/logo-pink-blue-desktop.svg");
    background-repeat: no-repeat;
    width: 146px;
    height: 40px;
  }
}

.page-footer__academy-link {
  @include reset-button;
  text-decoration: none;
  line-height: 18px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer__academy-link {
    width: 129px;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__academy-link {
    font-size: $middle-font-size;
    width: 153px;
    margin-bottom: 8px;
  }
}

.page-footer__academy-link img {
  margin-left: 15px;
}
