.page-footer {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
  }
}

.page-footer--form {
  padding-top: 0;
}

@media (min-width: $desktop-width) {
  .page-footer--form {
    padding-top: 64px;
  }
}

.page-footer--photo {
  padding-top: 0;
}

.page-footer__title {
  width: 320px;
  padding: 41px 20px 0;
  box-sizing: border-box;

  @include reset-title;
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 29px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer__title {
    width: 400px;
    margin-bottom: 44px;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__title {
    width: 480px;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 50px;
    line-height: 60px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .page-footer__wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
  }
}

.page-footer--form .page-footer__wrapper {
  display: flex;
  padding-top: 55px;
}

.page-footer--photo .page-footer__wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    padding: 29px 20px 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 27px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--form .page-footer__wrapper {
    padding-top: 0;
  }
}

.page-footer__logo {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin-top: 6px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo img {
    content: "";
    width: 146px;
    height: 40px;
    background-image: url("../img/logo-pink-blue-desktop.svg");
    background-repeat: no-repeat;
  }
}

.page-footer__academy-link {
  display: flex;
  align-items: center;

  @include reset-button;
  text-decoration: none;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer__academy-link {
    width: 129px;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__academy-link {
    width: 153px;
    margin-bottom: 8px;
    font-size: $middle-font-size;
  }
}

.page-footer__academy-link img {
  margin-left: 15px;
  padding-top: 2px;
}

@media (min-width: $desktop-width) {
  .page-footer__academy-link img {
    padding-top: 10px;
    margin-left: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--photo .page-footer__academy-link img {
    padding-top: 8px;
    margin-left: 13px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--form .page-footer__academy-link img {
    padding-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--form .socials__list {
    width: 180px;
  }
}
