.page-header {
  width: 100%;
  min-height: 787px;
  background-color: #1d2631;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 986px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 856px;
  }
}

.page-header__wrapper {
  position: relative;
  width: auto;
  margin: 0;
  color: $white-color;
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header--form {
  min-height: 497px;
  background-position-y: 260px;
}

@media (min-width: $tablet-width) {
  .page-header--form {
    min-height: 697px;
    margin-bottom: 48px;
    background-position-y: 257px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--form {
    min-height: 396px;
    margin-bottom: 95px;
    background-position-y: 2px;
  }
}

.page-header--form .page-header__wrapper::after {
  content: none;
}

.page-header--form .main-nav__logo-wrapper {
  padding-top: 19px;
  padding-left: 21px;
}

@media (min-width: $desktop-width) {
  .page-header--form .main-nav__logo-wrapper {
    margin: 0;
    margin-left: 11px;
    padding: 0;
  }

  .page-header--form .main-nav__logo {
    padding: 0;
    padding-bottom: 14px;
  }
}

.page-header--photo {
  min-height: 497px;
  margin-bottom: 0;

  &::after {
    content: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header--photo {
    min-height: 697px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--photo {
    min-height: 394px;
    background-position-y: 0;
  }
}

.page-header--photo .main-nav__logo-wrapper {
  padding: 18px 18px 20px 21px;
}

@media (min-width: $desktop-width) {
  .page-header--photo .main-nav__logo-wrapper {
    padding: 17px 18px 20px 9px;
  }
}

.page-header__background-wrapper {
  width: 100%;
  height: 463px;
  margin-top: -67px;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-width: 321px) and (max-width: 659px) {
  .page-header__background-wrapper {
    height: 497px;
    margin-top: -101px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-y: 34px;
    background-size: auto 621px;
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .page-header__background-wrapper {
    height: 729px;
    margin-top: -111px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-y: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__background-wrapper {
    height: 855px;
    margin-top: -110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.page-header--photo .page-header__background-wrapper {
  height: 237px;
  margin-top: -67px;
  padding-top: 96px;
  background-position: top;
}

@media (min-width: $tablet-width) {
  .page-header--photo .page-header__background-wrapper {
    height: 440px;
    margin-top: -111px;
    padding-top: 180px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--photo .page-header__background-wrapper {
    height: 395px;
  }
}

.page-header--form .page-header__background-wrapper {
  height: 237px;
  margin-top: -67px;
  padding-top: 96px;
  background-position: top;
}

@media (min-width: $tablet-width) {
  .page-header--form .page-header__background-wrapper {
    height: 396px;
    margin-top: -111px;
    padding-top: 175px;
  }
}

.page-header__title {
  order: 2;
  width: 250px;
  padding: 0 10px;

  @include reset-title;
  margin: 0 auto;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  text-align: center;
  line-height: 29px;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .page-header__title {
    width: 515px;
    padding: 0 20px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    width: 820px;
  }
}

.page-header--photo .page-header__title {
  width: 180px;
  margin: 0 auto;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .page-header--photo .page-header__title {
    width: 370px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--photo .page-header__title {
    width: 450px;
    margin-top: -6px;
    padding: 0;
  }
}

.page-header--nav-closed {
  min-height: 733px;
  background-position-y: 0;
}

@media (min-width: $tablet-width) {
  .page-header--nav-closed {
    min-height: 729px;
  }
}

.page-header--nav-closed .main-nav {
  min-height: 0;
  background-color: rgba(0, 0, 0, 0);
}

.page-header--nav-closed .main-nav__logo-wrapper {
  height: 65px;
  padding: 20px 20px 20px 21px;
  background-color: transparent;
}

.page-header--nav-closed .main-nav__outer-wrapper {
  border: none;
}

.page-header--form.page-header--nav-closed .main-nav__logo-wrapper {
  height: 65px;
  padding: 0;
  padding-right: 19px;
  padding-left: 21px;
}

@media (min-width: $tablet-width) {
  .page-header--nav-closed .main-nav__logo-wrapper {
    height: 110px;
    padding-top: 14px;
  }
}

@media (min-width: $tablet-width) {
  .page-header--form.page-header--nav-closed .main-nav__logo-wrapper {
    height: 110px;
    padding-bottom: 6px;
  }
}

.page-header--nav-closed .button-svg__open {
  display: inline-block;
}

.page-header--nav-closed .button-svg__close {
  display: none;
}

.page-header--nav-closed .site-list {
  display: none;
}

.page-header--photo.page-header--nav-closed {
  min-height: 238px;
}

.page-header--form.page-header--nav-closed {
  min-height: 236px;
}

@media (min-width: $tablet-width) {
  .page-header--form.page-header--nav-closed {
    min-height: 440px;
    margin-bottom: 48px;
  }
}

@media (min-width: 321px) and (max-width: 659px) {
  .page-header--form.page-header--nav-closed {
    background-position-y: 0;
  }
}

.page-header--nav-closed .page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header--nav-closed .main-nav__button {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .page-header--nav-closed .main-nav__button {
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--nav-closed .main-nav__button {
    margin-top: 0;
  }
}

.page-header--photo .main-nav__button--close {
  padding-top: 0;
}
