.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  // padding: 0 20px;
  background-color: #2b3b4b;
  min-height: 722px;
  color: $white-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: 258px;

  &::after {
    // z-index: 0;
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    bottom: 2px;
    left: 0;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    min-height: 984px;
    background-position: center;
    background-position-y: 254px;
    margin-bottom: 48px;

    &::after {
      left: -20px;
      bottom: 0;
      width: 700px;
      height: 545px;
      background-image: url("../../img/iphone-hand-tablet@1x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    overflow: hidden;
    width: 960px;
    min-height: 853px;
    // padding: 0 10px;

    &::after {
      left: 26px;
      width: 1050px;
      height: 645px;
      background-image: url("../../img/iphone-hand-desktop@1x.png");
    }
  }
}

.page-header--form {
  background-position-y: 260px;
  min-height: 496px;
  overflow: hidden;

  &::after {
    content: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header--form {
    background-position-y: 255px;
    min-height: 695px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--form {
    min-height: 396px;
    background-position-y: 2px;
  }
}

.page-header--photo {
  min-height: 496px;

  &::after {
    content: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header--photo {
    min-height: 695px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--photo {
    min-height: 394px;
    background-position-y: 0;
  }
}

.page-header__title {
  order: 2;

  @include reset-title;
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  color: $white-color;
  text-align: center;
  margin-top: 96px;
  padding: 0 10px;
  line-height: 29px;
}

@media (min-width: $tablet-width) {
  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    margin-top: 69px;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    margin-top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--photo .page-header__title {
    margin-top: 64px;
    padding: 0 151px;
  }
}
