.panorama {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .panorama {
    margin-bottom: 50px;
  }
}

.panorama__tag-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  &::after {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 100;
    display: inline-block;
    width: 140px;
    height: 36px;
    padding-top: 6px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 24px;
    font-weight: $bold-font-weight;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
    background-color: $crimson-color;
  }
}

@media (min-width: $tablet-width) {
  .panorama__tag-wrapper {
    width: 660px;

    &::after {
      top: 57px;
      right: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .panorama__tag-wrapper {
    width: 960px;

    &::after {
      top: 54px;
      right: 11px;
    }
  }
}

.panorama__image {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .panorama__image {
    width: auto;
    height: 100%;
    object-fit: none;
  }
}

.panorama__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  margin: 0 auto;
  padding: 18px;
  padding-bottom: 44px;
  box-sizing: border-box;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .panorama__text-wrapper {
    width: 620px;
    padding: 24px 28px 16px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__text-wrapper {
    width: 940px;
    padding: 24px 27px 25px;
  }
}

.panorama__user {
  margin: 0;
  padding: 0;
  line-height: 23px;
}

.panorama__user-name {
  margin-right: 1px;
  font-weight: $bold-font-weight;
}

.panorama__post-time {
  font-size: $small-font-size;
  font-weight: $light-font-weight;
  text-transform: uppercase;
}

.panorama__description {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .panorama__description {
    width: 595px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .panorama__description {
    width: auto;
    margin-bottom: 0;
    line-height: 23px;
  }
}

.panorama__likes {
  position: absolute;
  bottom: 19px;
  left: 18px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: $small-font-size;
  text-transform: uppercase;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .panorama__likes {
    top: 25px;
    right: 27px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__likes {
    top: 25px;
    right: 32px;
  }
}

.panorama__likes-text {
  order: 2;
  margin-right: 3px;
}

@media (min-width: $tablet-width) {
  .panorama__likes-text {
    order: 1;
    margin-left: auto;
  }
}

.panorama__likes-value {
  order: 3;
}

@media (min-width: $tablet-width) {
  .panorama__likes-value {
    order: 2;
  }
}

.panorama__likes-link {
  display: flex;
  order: 1;
  margin-right: 19px;
}

@media (min-width: $tablet-width) {
  .panorama__likes-link {
    order: 3;
    align-items: flex-start;
    margin-right: 0;
    margin-left: 19px;
    padding-top: 5px;
  }
}

.panorama__likes-link img {
  width: 100%;
}
