.photos {
  width: auto;
  padding-top: 45px;
}

@media (min-width: $tablet-width) {
  .photos {
    padding-top: 92px;
  }
}

.photos__slogan {
  width: 253px;
  box-sizing: border-box;

  @include reset-title;
  margin: 0 auto;
  margin-bottom: 49px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .photos__slogan {
    width: 470px;
    margin: 0 auto;
    margin-bottom: 76px;
    font-size: $middle-font-size;
  }
}

@media (min-width: $desktop-width) {
  .photos__slogan {
    width: 595px;
    margin: 0 auto;
    margin-bottom: 88px;
  }
}

.photos__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .photos__wrapper {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .photos__wrapper {
    width: 960px;
    padding: 0 10px;
  }
}

.photos__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .photos__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.photos__item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .photos__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .photos__item {
    min-height: 555px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .photos__item:nth-last-child(1),
  .photos__item:nth-last-child(2),
  .photos__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}

.photos__image {
  display: flex;
  width: 280px;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .photos__image {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .photos__image {
    height: 400px;
  }
}

.photos__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  height: 100%;
  min-height: 121px;
  margin: 0 auto;
  padding: 19px 18px 44px;
  box-sizing: border-box;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .photos__text-wrapper {
    width: 300px;
    min-height: 155px;
    padding: 24px 28px;
  }
}

@media (min-width: $desktop-width) {
  .photos__text-wrapper {
    padding: 24px 26px 59px;
  }
}

.photos__user {
  margin: 0;
  padding: 0;
  line-height: 23px;
}

.photos__user-name {
  margin-right: 1px;
  font-weight: $bold-font-weight;
}

.photos__post-time {
  font-size: $small-font-size;
  font-weight: $light-font-weight;
  text-transform: uppercase;
}

.photos__description {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photos__description {
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .photos__description {
    line-height: 24px;
  }
}

.photos__likes {
  position: absolute;
  bottom: 19px;
  left: 18px;
  display: flex;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  box-sizing: border-box;
  font-size: $small-font-size;
  text-transform: uppercase;
  color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .photos__likes {
    bottom: 22px;
    left: 28px;
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .photos__likes {
    left: 27px;
  }
}

.photos__likes-text {
  order: 2;
  margin-right: 3px;
}

@media (min-width: $tablet-width) {
  .photos__likes-text {
    order: 1;
  }
}

.photos__likes-value {
  order: 3;
}

@media (min-width: $tablet-width) {
  .photos__likes-value {
    order: 2;
  }
}

.photos__likes-link {
  display: flex;
  order: 1;
  margin-right: 19px;
}

@media (min-width: $tablet-width) {
  .photos__likes-link {
    order: 3;
    margin-right: 0;
    margin-left: auto;
  }
}

.photos__likes-link img {
  width: 100%;
}
