.photo-editor {
  width: 100%;
  padding-bottom: 22px;
  background-color: $lightgray-background-color;
}

@media (min-width: $tablet-width) {
  .photo-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    width: 940px;
    margin: 0 auto;
    margin-bottom: -4px;
    padding: 0;
  }
}

.photo-editor__slogan-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 43px;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .photo-editor__slogan-wrapper {
    padding-top: 45px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__slogan-wrapper {
    padding-top: 59px;
    padding-bottom: 66px;
  }
}

.photo-editor__slogan {
  width: 260px;
  box-sizing: border-box;

  @include reset-title;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .photo-editor__slogan {
    width: 440px;
    font-size: $middle-font-size;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__slogan {
    width: 940px;
  }
}

.photo-editor__photo {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
  padding: 19px 20px 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .photo-editor__photo {
    width: 330px;
    margin: 0;
    padding-top: 57px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__photo {
    width: 468px;
    padding: 58px 90px 56px 80px;
  }
}

.photo-editor__image {
  display: flex;
  width: 280px;
  height: 374px;
}

@media (min-width: $tablet-width) {
  .photo-editor__image {
    width: 300px;
    height: 400px;
  }
}

.photo-editor__tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .photo-editor__tools {
    flex-direction: column;
    width: 330px;
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-right: 20px;
    border-bottom: none;
    padding-left: 38px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__tools {
    justify-content: flex-start;
    width: 472px;
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 56px;
  }
}

.photo-editor__tools-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
}

@media (min-width: $tablet-width) {
  .photo-editor__tools-wrapper {
    justify-content: space-between;
    width: 254px;
    height: 71px;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__tools-wrapper {
    justify-content: flex-start;
    width: 412px;
    height: 72px;
    padding-right: 31px;
    box-sizing: border-box;
  }
}

.photo-editor__tools-wrapper:nth-child(1) {
  margin-right: 34px;
}

.photo-editor__tools-wrapper:nth-child(2) {
  margin-right: 39px;
}

.photo-editor__tools-wrapper--current {
  position: relative;
}

@media (min-width: $tablet-width) {
  .photo-editor__tools-wrapper--current {
    position: static;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__tools-wrapper--current {
    padding-right: 31px;
  }
}

.photo-editor__tools-wrapper:nth-child(3) {
  margin-right: 0;
}

@media (min-width: $desktop-width) {
  .photo-editor__tools-wrapper:nth-child(3) {
    width: 412px;
    margin: 0;
  }
}

.photo-editor__tools-label {
  display: flex;
}

label.crop img {
  display: flex;
  width: 48px;
  height: 48px;
  padding-bottom: 2px;
  padding-left: 3px;
}

@media (min-width: $tablet-width) {
  label.crop img {
    width: 22px;
    height: 22px;
    padding-bottom: 0;
    padding-left: 1px;
  }
}

@media (min-width: $desktop-width) {
  label.crop img {
    width: 46px;
    height: 46px;
  }
}

label.exposure img {
  display: flex;
  width: 48px;
  height: 48px;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  label.exposure img {
    width: 25px;
    height: 24px;
    margin-top: 7px;
    padding-top: 0;
    padding-left: 1px;
  }
}

@media (min-width: $desktop-width) {
  label.exposure img {
    width: 52px;
    height: 47px;
  }
}

label.tint {
  padding-bottom: 0;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  label.tint {
    padding-bottom: 1px;
    padding-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  label.tint {
    padding-bottom: 0;
    padding-left: 0;
  }
}

label.tint img {
  display: flex;
  width: 31px;
  height: 31px;
  padding-right: 11px;
  padding-bottom: 3px;
}

@media (min-width: $tablet-width) {
  label.tint img {
    width: 16px;
    height: 16px;
    padding-bottom: 1px;
  }
}

@media (min-width: $desktop-width) {
  label.tint img {
    width: 32px;
    height: 32px;
    padding-bottom: 1px;
    padding-left: 7px;
  }
}

.photo-editor__control-bar {
  position: relative;
  display: none;
  width: 240px;
  height: 2px;
  margin: auto;
  background-color: $basic-darker-color;
}

.photo-editor__control-bar--current {
  position: absolute;
  top: 85px;
  left: -12px;
  display: block;
}

@media (min-width: $tablet-width) {
  .photo-editor__control-bar {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 202px;
    margin: 0;
  }

  .photo-editor__control-bar:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__control-bar {
    width: 287px;
    margin-left: auto;
  }
}

.photo-editor__control-button {
  position: absolute;
  top: -6px;
  right: 34px;
  width: 14px;
  height: 14px;

  @include reset-button;
  background-color: #f2f2f2;
  border: $crimson-color solid 2px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .crop .photo-editor__control-button {
    right: 42px;
  }

  .exposure .photo-editor__control-button {
    right: 162px;
  }

  .tint .photo-editor__control-button {
    right: 91px;
  }
}

@media (min-width: $desktop-width) {
  .crop .photo-editor__control-button {
    right: 201px;
  }

  .exposure .photo-editor__control-button {
    right: 26px;
  }

  .tint .photo-editor__control-button {
    right: 114px;
  }
}

.photo-editor__button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 110px;

  &::before {
    content: "";
    position: absolute;
    top: 71px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .photo-editor__button-wrapper {
    align-items: flex-start;
    padding-top: 66px;
    padding-bottom: 10px;

    &::before {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin: 0;
    margin-top: auto;
    padding: 0;
  }
}

.photo-editor__button {
  width: 280px;
  height: 55px;
  margin: 0 18px;

  @include reset-button;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 18px;
  border-style: solid;
  border-width: 3px;
  border-radius: 55px;
}

@media (min-width: $tablet-width) {
  .photo-editor__button {
    width: 260px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__button {
    width: 183px;
  }
}

.photo-editor__submit {
  margin-bottom: 12px;
  padding-bottom: 3px;
  color: $crimson-color;
  border-color: $crimson-color;
}

@media (min-width: $tablet-width) {
  .photo-editor__submit {
    margin: 0;
    margin-bottom: 25px;
    padding-right: 7px;
    line-height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__submit {
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-left: 13px;
  }
}

.photo-editor__reset {
  padding-bottom: 3px;
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}

@media (min-width: $tablet-width) {
  .photo-editor__reset {
    margin: 0;
    padding-right: 8px;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__reset {
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    padding-left: 7px;
  }
}
