.site-list {
  width: 100%;
  min-height: 252px;

  @include reset-list;
  text-align: center;
  background-color: #283645;
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 622px;
    min-height: 0;
    margin-right: 10px;
    background-color: transparent;
  }
}

.site-list__item {
  padding: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px #000000;
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding: 0;
    border: none;
  }
}

.site-list__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: inherit;
  }

  &[href]:hover {
    color: $crimson-color;
  }

  &[href]:active {
    color: $crimson-color;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link:active {
    color: $white-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
  }

  .site-list__item--active {
    border-bottom: $white-color solid 2px;
  }
}
