.slider {
  position: static;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;
  }
}

.slider__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .slider__list {
    margin-bottom: 14px;
  }
}

.slider__item {
  padding: 0 1px;
}

.slider__item-wrapper {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .slider__item-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.slider__user-name {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 30px;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .slider__user-name {
    order: 2;
    margin-bottom: 2px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .slider__user-name {
    font-size: $big-font-size;
  }
}

.slider__user-status {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__user-status {
    display: block;
    order: 3;
    margin: 0;
    margin-bottom: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .slider__user-status {
    font-size: $middle-font-size;
  }
}

.slider__content {
  position: static;
  width: 280px;
  margin: 0;
  margin-bottom: 32px;
  line-height: 30px;

  &::after {
    content: none;
  }
}

@media (min-width: $tablet-width) {
  .slider__content {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: $middle-font-size;
  }
}

@media (min-width: $desktop-width) {
  .slider__content {
    position: relative;
    width: 705px;
    margin-bottom: 36px;

    &::after {
      content: "";
      position: absolute;
      top: -81px;
      width: 78px;
      height: 69px;
      transform: translate(-50%, -50%);
      left: 50%;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }
}

.slider__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    width: 65px;
  }
}

@media (min-width: $desktop-width) {
  .slider__toggle {
    display: none;
  }
}

.slider__button {
  width: 6px;
  height: 6px;
  margin-right: 19px;

  @include reset-button;
  border-color: $basic-darker-color;
  opacity: 0.3;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .slider__button {
    margin-right: 18px;
  }
}

.slider__toggle--current {
  width: 12px;
  height: 12px;
  margin-right: 17px;
  border-color: $basic-darker-color;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .slider__toggle--current {
    margin-right: 16px;
  }
}

.slider__button:last-child {
  margin-right: 0;
}

@media (min-width: $desktop-width) {
  .slider__previous-slide {
    position: absolute;
    top: 27px;
    left: 0;
    width: 22px;
    height: 42px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider__next-slide {
    position: absolute;
    top: 27px;
    right: 0;
    width: 22px;
    height: 42px;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
