.socials {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .socials {
    width: 196px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    width: 167px;
    margin-top: -8px;
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;
  width: 179px;

  @include reset-list;
}

@media (min-width: $tablet-width) {
  .socials__list {
    width: 178px;
  }
}

@media (min-width: $desktop-width) {
  .socials__list {
    width: 174px;
  }
}

.socials__link {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 45px;
  border-style: solid;
  border-width: 3px;
  border-color: #e9ebec;

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.socials__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.socials__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.socials__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}
