.socials {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .socials {
    margin-bottom: 0;
    width: 196px;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    width: 166px;
    // margin-left: 4px;
    // margin-bottom: 3px;
  }
}

.socials__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 182px;
}

@media (min-width: $tablet-width) {
  .socials__list {
    width: 178px;
  }
}

.socials__link {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(40, 54, 69, 0.1);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.socials__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.socials__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}
