.tariffs {
  position: relative;
  width: 100%;
  padding-top: 91px;
  background-color: $lightgray-background-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media (min-width: $tablet-width) {
  .tariffs {
    margin: 0;
    padding: 0;
    padding-top: 89px;
    padding-bottom: 68px;

    &::before {
      height: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 95px;

    &::before {
      height: 65px;
    }
  }
}

.tariffs__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .tariffs__wrapper {
    width: 660px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__wrapper {
    width: 960px;
  }
}

.tariffs__list {
  position: relative;
  left: -535px;
  box-sizing: border-box;
  border-collapse: collapse;
}

@media (min-width: $tablet-width) {
  .tariffs__list {
    position: static;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list {
    width: 940px;
  }
}

.tariffs__title {
  min-width: 278px;
  padding: 18px 0 17px 21px;
  box-sizing: border-box;
  text-align: left;
  text-transform: none;
  font-size: $basic-font-size;
  font-weight: $basic-font-weight;
  background-color: $white-color;
  border-style: solid;
  border-color: $basic-border-color;
  border-width: 2px;
  border-top-style: none;
  border-right-style: none;
}

@media (min-width: $tablet-width) {
  .tariffs__title {
    min-width: 155px;
    padding: 10px 0 11px 16px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__title {
    min-width: 234px;
    padding: 17px 20px 18px;
    font-size: $middle-font-size;
  }
}

.tariffs__title-header {
  min-width: 278px;
  box-sizing: border-box;
  color: transparent;
  background-color: transparent;
  border-bottom: solid 2px $basic-border-color;
  border-left: none;
}

@media (min-width: $tablet-width) {
  .tariffs__title-header {
    min-width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__title-header {
    min-width: 234px;
  }
}

.tariffs__header--hit {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "Хит";
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: $basic-font-size;
    text-transform: uppercase;
    color: $white-color;
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .tariffs__header--hit::before {
    top: -12px;
  }
}

@media (min-width: $tablet-width) {
  .tariffs__header--hit::after {
    top: 3px;
    left: 6px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__header--hit::before {
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__header--hit::after {
    top: 11px;
    left: 10px;
  }
}

.tariffs__header {
  min-width: 278px;
  padding: 16px 0 19px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $basic-darker-color;
  border-right: solid 2px $basic-border-color;
}

@media (min-width: $tablet-width) {
  .tariffs__header {
    min-width: 155px;
    padding: 11px 0 6px;
    line-height: 30px;
    font-weight: $bold-font-weight;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__header {
    min-width: 234px;
    padding: 16px 0 14px;
  }
}

.tariffs__name {
  margin: 0;
  margin-bottom: 3px;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .tariffs__name {
    margin-bottom: 0;
    padding-left: 2px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__name {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

.tariffs__price {
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .tariffs__price {
    font-size: $middle-font-size;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__price {
    font-size: $big-font-size;
  }
}

.tariffs__facilities-item {
  position: relative;
  min-width: 278px;
  padding: 17px 0 17px 22px;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: $white-color;
  border-bottom: solid 2px $basic-border-color;
  border-left: solid 2px $basic-border-color;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 17px;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-no-orange.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .tariffs__facilities-item {
    min-width: 155px;
    padding: 10px 0 11px 16px;
    color: transparent;

    &::after {
      top: 9px;
      right: 62px;
    }
  }
}

@media (min-width: $desktop-width) {
  .tariffs__facilities-item {
    min-width: 234px;
    padding: 0;

    &::after {
      top: 16px;
      right: 102px;
    }
  }
}

.tariffs__facilities-item--included::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 16px;
  width: 31px;
  height: 29px;
  background-size: 100%;
  background-image: url("../img/icon-yes-green.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .tariffs__facilities-item--included::after {
    top: 12px;
    right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__facilities-item--included::after {
    top: 21px;
    right: 101px;
  }
}

.tariffs__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 99px;
  margin: 0;
  padding: 36px 0 45px 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .tariffs__toggles {
    display: none;
  }
}

.tariffs__button {
  width: 6px;
  height: 6px;

  @include reset-button;
  margin-right: 17px;
  border-color: rgba(40, 54, 69, 0.3);
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .tariffs__button {
    display: none;
  }
}

.tariffs__button--current {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  border-color: $basic-darker-color;
}

.tariffs__button:last-child {
  margin-right: 0;
}
