.tariffs-slider {
  background-color: #f2f2f2;
}

.tariffs-slider__list {
  @include reset-list;
}

.tariffs-slider__header {
  color: $white-color;
  background-color: $basic-darker-color;
  text-transform: uppercase;
}

.tariffs-slider__name {
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 30px;
}

.tariffs-slider__price {
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 30px;
}

.tariffs-slider__facilities-list {
  @include reset-list;
  line-height: 30px;
  text-transform: uppercase;
}
