.tariffs-slider__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: -257px;
  // margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__list {
    margin: 0;
    justify-content: flex-end;
    overflow: visible;
  }
}

.tariffs-slider__item {
  position: relative;
  min-width: 276px;
  border-left: solid 2px $basic-border-color;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__item {
    min-width: 152px;
  }
}

.tariffs-slider__item:last-child {
  border-right: solid 2px $basic-border-color;
}

.tariffs-slider__item--hit::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 73px;
  background-image: url("../../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.tariffs-slider__item--hit::after {
  content: "Хит";
  color: $white-color;
  font-size: $basic-font-size;
  position: absolute;
  transform: rotate(-45deg);
  top: 10px;
  left: 10px;
  text-transform: uppercase;
}

.tariffs-slider__header {
  padding: 17px 0 20px;
  text-align: center;
  color: $white-color;
  background-color: $basic-darker-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__header {
    line-height: 30px;
    font-weight: $bold-font-weight;
    padding: 12px 5px 6px;
  }
}

.tariffs-slider__name {
  margin: 0;
  font-size: $middle-font-size;
  font-weight: $bold-font-weight;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__name {
    font-size: 16px;
  }
}

.tariffs-slider__price {
  font-size: $big-font-size;
  font-weight: $light-font-weight;
  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__price {
    font-size: $middle-font-size;
    font-weight: $light-font-weight;
  }
}

.tariffs-slider__facilities-list {
  @include reset-list;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs-slider__facilities-item {
  position: relative;
  min-height: 61px;
  padding: 24px 17px 20px 23px;
  box-sizing: border-box;
  background-color: $white-color;
  border-bottom: solid 2px $basic-border-color;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    top: 14px;
    right: 20px;
    background-image: url("../../img/icon-no-orange.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .tariffs-slider__facilities-item {
    &::after {
      right: 62px;
    }
  }
}

.tariffs-slider__facilities-item--included::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  top: 27px;
  right: 24px;
  background-image: url("../../img/icon-yes-green.svg");
  background-repeat: no-repeat;
}


@media (min-width: $tablet-width) {
  min-height: 45px;
}

.tariffs-slider__toggles {
  margin: 0;
  padding: 0;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
}

.tariffs-slider__button {
  @include reset-button;
  width: 6px;
  height: 6px;
  border-color: rgba(40, 54, 69, 0.3);
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .tariffs-slider__button {
    display: none;
  }
}

.tariffs-slider__button:not(:last-child) {
  margin-right: 18px;
}

.tariffs-slider__button--current {
  width: 12px;
  height: 12px;
  border-color: $basic-darker-color;
}
