$font-family: "Open Sans", arial, sans-serif;
$small-font-size: 12px;
$basic-font-size: 14px;
$middle-font-size: 18px;
$upper-middle-font-size: 21px;
$big-font-size: 24px;
$basic-line-height: 24px;
$light-font-weight: 300;
$basic-font-weight: 400;
$bold-font-weight: 700;
$white-color: #ffffff;
$black-color: #000000;
$basic-darker-color: #283645;
$crimson-color: #d22856;
$green-color: #2aab6d;
$dark-green-color: #1c9b5e;
$basic-down-color: rgba(210, 40, 86, 0.3);
$basic-border-color: #e5e5e5;
$lightgray-background-color: #f2f2f2;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
